@model List<LinqToTwitter.Status>
@using System.Collections
@using LinqToTwitter 
@{
    ViewBag.Title = "Get Tweets";
}

<h2>@ViewBag.Title</h2>

@foreach (var t in Model)
{
<p>@t.CreatedAt, @t.Text</p>
}



