
@{
    ViewBag.Title = "PostTweet";
}

<p>Enter your tweet</p>
@using (Html.BeginForm("SearchTweets", "Home"))
{
    <div class="form-group">
        <label for="tweetText">Tweet text ...</label>
        <input type="text" id="tweetText" name="tweetText" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
}

